/*

/* CROSS LINE */
hr {
	border: 0;
	height: 2px;
	background-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 0.25),
		rgba(0, 0, 0, 0.75),
		rgba(0, 0, 0, 0.25)
	);
}

.page-header__logo--images {
	width: 100px;
	height: 100px;
	border-radius: 50px;
}
.card {
	background-color: rgb(223, 231, 238);
}

.message-loading {
	position: fixed;
	/* border: 1px solid black; */
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	box-shadow: 1px 1px 10px 0px rgb(41, 39, 39);
	top: 0px;
	right: 0px;
}
.hidden {
	display: none;
}

.modal-image {
	width: 300px;
	border: 1px solid black;
	box-shadow: 1px 1px 10px 0px rgb(41, 39, 39);

	border-radius: 9px;
}
